:root {
    --modra: #2880BA;
    --backgrnd: #212529;
  }

#body{
    color: white;
    background-color: var(--backgrnd) ;
}

.overlay{
    background-image: url('../img/bckgrnd_gray.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50rem;
    height: 50rem;
    z-index: -1;
}

#navstyle{
    background-color: var(--modra) !important;
    max-height: 4rem;
}
.container-fluid{
    padding-left: 0 !important;
}
.navbar-light .navbar-nav .nav-link
{
    color: white !important;
    font-weight: 600 !important;
}
.nav-link:hover:not(#user):not(#unlog):not(#regi)
{
    border-bottom: 1px solid white !important;
}

#logged, #unlogged{
    background-color: var(--backgrnd) !important;
    color: white;
    border-radius: 0.2rem !important;
    border-color: var(--modra);
    border-width: 0.15rem;
    z-index: 1000000000;
}

.index-wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: calc(90% - 4rem);
    flex-direction: column;
}
.vert-center{
    height: calc(90% - 4rem);
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
    background-color: rgba(95, 95, 95, 0.1);
    border-radius: 0.5rem;
}

.add-but, .log-but, .unlog, .det-but, .edit-but, .del-but, .filtr-but, .blue-but-outline:hover, .blue-but{
    background-color: var(--modra) !important;
    border-color: var(--modra) !important;
    color: white !important;
    border-radius: 0.05rem !important;
    font-weight: 600 !important;
}
.add-but:hover, .log-but:hover, .unlog:hover, .det-but:hover, .edit-but:hover,
 .del-but:hover, .filtr-but:hover, .blue-but:hover , .blue-but-outline{
    background-color: var(--backgrnd) !important;
    color: var(--modra) !important;
    border-color: var(--modra) !important;
    border-radius: 0.05rem !important;
    font-weight: 600 !important;
}
.add-but{
    margin: 1rem;
}
.delItemBtn, .red-but{
    background-color: var(--backgrnd) !important;
    border-radius: 0.05rem !important;
    color: #dc3545 !important;
}
.delItemBtn:hover, .red-but:hover{
    background-color: #dc3545 !important;
    border-radius: 0.05rem !important;
    color: white !important;
}

.prehled-tab{ 
    display: flex;
    flex-direction: column;
    .row{
        border-bottom: 0.05rem solid rgba(87, 87, 87, 0.3);
        //max-height: 4rem;
        padding-block: 0.4rem;
        .btn{
            padding-block: 3px !important;
            padding-inline: 6px !important;
        }
    }
    .row:hover:not(.header){
        background-color: #2a2f34;
    }
}
.detail-form{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(95, 95, 95, 0.1);
    border-radius: 0.2rem;
}
.detail-guest{
    padding-top: 2rem;
    padding-inline: 2rem;
}
.detail{
    max-height: 100vh;
    overflow-y: auto;
}

.add-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.add-headline{
    padding-block: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid var(--modra);
}

.form-control, .form-select, .input-group-text{
    border-radius: 0.1rem !important;
}
.form-control:focus, .form-select:focus{
    border-color: rgba(40, 128, 186, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(40, 128, 186, 0.6) !important;
    outline: 0 none !important;
}
.modal-title{
    color: var(--modra) !important;
}


.filtry{
    max-width: 40rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-col{
    display: flex !important;
    flex-direction: row !important;
}

@media only screen and (max-width: 50rem){
    #welcome{
        font-size: 40 !important;
    }
    #indexBut{
        font-size: 20 !important;
    }
    .media-wrapper{
        flex-direction: column-reverse;
        padding-inline: 0.5rem;
    }
    .detail{
        position: relative !important;
    }
    .detail{
        max-height: unset;
        overflow-y: unset;
    }
    .overlay{
        width: 20rem;
        height: 20rem;
    }
    .prehled-tab{
        font-size: 15;
    }
    #navstyle{
        background-color: var(--modra) !important;
        max-height: unset;
    }
    .nav-item{
        margin-left: 1rem;
    }
    .remove-mobile{
        display: none;
    }
    .mobile-col{
        flex-direction: column !important;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

@import "../node_modules/bootstrap/scss/bootstrap";