:root {
    --modra: #07c5ff;
    --backgrnd: rgb(61, 61, 61)
  }

#body{
    font-family: 'Roboto', sans-serif !important;
    color: white;
    background-color: var(--backgrnd) ;
}

#navstyle{
    background-color: var(--modra) !important;
    margin-bottom: 25px !important;
}

.navbar-light .navbar-nav .nav-link
{
    color: white !important;
    font-weight: 600 !important;
}

.nav-link:hover:not(#user):not(#unlog):not(#regi)
{
    border-bottom: 1px solid white !important;
}

html, body {
    height: 100%;
    margin: 0;
  }

.wrapper {
    min-height: 100%;
    margin-bottom: -45px;
}

#madeby{
    text-align: center;
    vertical-align: bottom;
}

.footer, .push{
    height: 45px;
}

.footer{
    width: 100% !important;
    color: white !important;
    padding-top: 10px !important;
    background-color: var(--modra) !important;
}

#log-but:hover ,#unlog:hover ,#reg-but:hover ,#add-btn:hover ,#regi:hover
{
    background-color: white !important;
    color: var(--modra) !important;
    border-color: var(--modra) !important;
    border: 2px solid !important;
}

#log-but ,#unlog ,#reg-but ,#regi
{
    background-color: var(--modra) !important;
    border: 2px solid var(--modra);
    color: white !important;
    border-radius: 5px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--modra) !important;
    box-shadow: 0 1px 1px var(--modra) inset, 0 0 8px var(--modra) !important;
 }
 .btn{
    border: 2px solid var(--modra) !important;
 }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0 !important;
}

#reg{
    padding: 20px;
    border: 2px solid var(--modra);
    border-radius: 15px;
}

table {
    border-width: 0px !important;
}
